/* ********************Footer********************** */


.footer {
    width: 100%;
    height: auto;
    margin: auto;
    background-color: black;
    padding: 10px 0px;
    display: flex;
}

.details {
    padding: inherit;
    width: 33.3%;
    height: auto;
    padding: 5px;
    margin: 10px;
}

.details a:link {
    text-decoration: none;
    color: white;
    padding-left: 5px;
}

.details a:visited {
    text-decoration: none;
    color: aliceblue;

}

.details a:hover {
    ;
    color: #f35300;
    padding: 5px;
    text-align: center;
}

.details a:active {
    color: gold;
}


/* */

.template {
    background: #5c5c5c;
    padding-top: 2px;
    margin-top: 2px;
    color: white;
}


/**************************************** Header******************** */
.a {
    text-decoration: none;
    color: #f35300;

}

.header ol {
    display: flex;
    text-decoration: none;
    color: #f35300;
    padding: 0px;
    margin: 0px;
    list-style: none;
}

.header {
    padding: 0px;
    margin: 0px;
    width: 100%;
}

.header li {
    padding-left: 2px;
}

#container {
    width: 100%;
    margin: 0px;
    padding: 0px;
    height: 60px;

}

.box1 {
    box-sizing: border-box;
    float: left;
    padding-left: 5px;
    width: 500px;
}

.box2 {
    float: right;
    width: 468;
    box-sizing: border-box;
}










/* ----------------------------------------------------Events---------------------------------------- */





.tranzicion {
    width:200px;
    height: 100px;
    background: red;
    transition: width 2s,height 2s;
    -webkit-transition: width 2s;
}
.tranzicion:hover
{
    width:300px;
    height:300px;
    transform: rotate(360deg);
}





#permbajtja {

    display: flex;

}



#permbajtja .permbajtja-section {

    margin: 0px 20px;
    width: 50%;

}
figure{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
} 

#permbajtja #about #about-image-permbajtja {

    border: 1px solid #6666ff;
    padding: 4px;
    width: 270px;
    height: auto;
    overflow: hidden;
    background-color: #e2e2e2;

}
figcaption{
    text-align: center;
    font-size: 15;
}

#permbj .permbj-section .permbj-section-header {


    width: 280px;
    height: 44px;
    display: inline-table;

}



#permbj .permbj-section .permbj-section-header h6 {

    font-size: 16px;
    line-height: 19px;
    color: #989898;
    margin: 0px;
    display: table-cell;
    vertical-align: middle;

}



#permbj .permbj-section p {

    width: auto;

    height: 105px;
    font-size: 14px;
    line-height: 19px;
    color: #888888;

}



/*fotoja */
.thumbnail {
    cursor: help;
}
figcaption.popup {
padding: 10px;
background: #e1e1e1;
position: absolute;
/* add a drop shadow to the frame */
-webkit-box-shadow: 0 0 15px #A9A9A9);
-moz-box-shadow: 0 0 15px #A9A9A9;
box-shadow: 0 0 15px #A9A9A9;
/* hide it until there is a hover */
visibility: hidden;
cursor: help;
}

figure.thumbnail:hover figcaption.popup {
position: absolute;
top: 40px;
right: 50%;
/* display image upon hover */
visibility: visible;
}
/* */

figure.thumbnail2:hover figcaption.popup {
position: absolute;
top: 200px;
right: 50%;
/* display image upon hover */
visibility: visible;
}



/* --------------------------clean air section------------------------ */

.cleanair {
	color: #778899;
    border: 1pt;
    padding: 5px;
    margin: 40px;
    background-color:#FFF5EE;
}
.fotocleanir {

    float: left;
    flex: 30%;
    padding: 10px;
}
.teksticleanair {
    flex: 70%;
    padding: 10px;
    font-family: 'Helvetica';
    line-height: 1.5;
    font-weight: 200;
}





/* foto 7steps to eco school */
.case {
  position: relative;
  width: 50%;
  height:120; 
  width: 200px;
}

.image {
 
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #00ba2e;
}

.case:hover .overlay {
  opacity: 1;
}

.text {
  color: white;
  font-size: 23px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}



/* */
* {box-sizing: border-box;}
.case2 {
  position: relative;
  width: 50%;
  width: 300px;
  float:left;
}

.image2 {
  display: block;
  width: 100%;
  height: auto;
}

.overlay2 {
  position: absolute; 
  bottom: 0; 
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5); /* Black see-through */
  color: #f1f1f1; 
  width: 100%;
  transition: .5s ease;
  opacity:0;
  color: white;
  font-size: 20px;
  padding: 20px;
  text-align: center;
}

.case2:hover .overlay2 {
  opacity: 1;
}


/*  section eco conference*/
.ecoconf {
    color: #778899;
    border: none;
    padding: 5px;
    margin: 40px;
  
    font-family: "Hoefler Text", Cambria, "Times New Roman", serif;
    word-spacing: normal;
    text-indent: 5px;
    clear: left;
    background-color: #D3D3D3;
}
/* */
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  width: 410px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.desc {
  padding: 15px;
  text-align: center;
}






* {
  box-sizing: border-box;
}

#column {
  float: left;
  width: 33.33%;
  padding: 5px;
}

/* Clearfix (clear floats) */
#row::after {
  content: " ";
  clear: both;
  display: table;
}









/* ----------------------------------FUTURE SCHOOL--------------------------------- */

.futuresch{
  background-color: #777;
  color: white;
  cursor: pointer;
  padding: 18px;
  width:90%;
  margin-left: 20px;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  
}

.active, .futuresch:hover {
  background-color: #555;
}

.futuresch-content {
  padding: 0 18px;
  margin-left: 20px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
  width:90%;
  font-family: "Hoefler Text", Cambria, "Times New Roman", serif;
  word-spacing: normal;
  text-indent: 5px;
}





/* *******************************future school slideshow********************** */



* {box-sizing:border-box}

/* Slideshow container */
.slideshow-permbajtja {
  max-width: 1000px;
  position: relative;
  margin: 20px;
}

/* Hide the images by default */
.Sllajdet {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.teksti {
  color: white;
  font-size: 20px;
  padding: 8px 12px;
  position: absolute;
 
  
  text-align: center;
  background-color: black;

}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
} 













