/* ********************Footer********************** */


.footer {
    width: 100%;
    height: auto;
    margin: auto;
    background-color: black;
    padding: 10px 0px;
    display: flex;
}

.details {
    padding: inherit;
    width: 33.3%;
    height: auto;
    padding: 5px;
    margin: 10px;
}

.details a:link {
    text-decoration: none;
    color: white;
    padding-left: 5px;
}

.details a:visited {
    text-decoration: none;
    color: aliceblue;

}

.details a:hover {
    ;
    color: #f35300;
    padding: 5px;
    text-align: center;
}

.details a:active {
    color: gold;
}


/* */

.template {
    background: #5c5c5c;
    padding-top: 2px;
    margin-top: 2px;
    color: white;
}


/**************************************** Header******************** */
.a {
    text-decoration: none;
    color: #f35300;

}
.a:hover {
    color: #5c5c5c;
}
.header ol {
    display: flex;
    text-decoration: none;
    color: #f35300;
    padding: 0px;
    margin: 0px;
    list-style: none;
}

.header {
    padding: 0px;
    margin: 0px;
    width: 100%;
}

.header li {
    padding-left: 2px;
}

#container {
    width: 100%;
    margin: 0px;
    padding: 0px;
    height: 60px;

}

.box1 {
    box-sizing: border-box;
    float: left;
    padding-left: 5px;
    width: 500px;
}

.box2 {
    float: right;
    width: 468;
    box-sizing: border-box;
}










/* ---------------------------------------------------------------  Events  ------------------------------------------------------------ */




/*
.tranzicion {
    width: 200px;
    height: 100px;
    background: red;
    transition: width 2s, height 2s;
    -webkit-transition: width 2s;
}

.tranzicion:hover {
    width: 300px;
    height: 300px;
    transform: rotate(360deg);
}*/





#permbajtja {

    display: flex;

}



#permbajtja .permbajtja-section {

    margin: 0px 20px;
    width: 50%;

}

figure {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#permbajtja #about #about-image-permbajtja {

    border: 1px solid #6666ff;
    padding: 4px;
    width: 270px;
    height: auto;
    overflow: hidden;
    background-color: #e2e2e2;

}

figcaption {
    text-align: center;
    font-size: 15;
}

#permbj .permbj-section .permbj-section-header {


    width: 280px;
    height: 44px;
    display: inline-table;

}



#permbj .permbj-section .permbj-section-header h6 {

    font-size: 16px;
    line-height: 19px;
    color: #989898;
    margin: 0px;
    display: table-cell;
    vertical-align: middle;

}



#permbj .permbj-section p {

    width: auto;

    height: 105px;
    font-size: 14px;
    line-height: 19px;
    color: #888888;

}



/*fotoja */
.thumbnail {
    cursor: help;
}

figcaption.popup {
    padding: 10px;
    background: #e1e1e1;
    position: absolute;
    /* add a drop shadow to the frame */
    -webkit-box-shadow: 0 0 15px #A9A9A9);
    -moz-box-shadow: 0 0 15px #A9A9A9;
    box-shadow: 0 0 15px #A9A9A9;
    /* hide it until there is a hover */
    visibility: hidden;
    cursor: help;
}

figure.thumbnail:hover figcaption.popup {
    position: absolute;
    top: 40px;
    right: 50%;
    /* display image upon hover */
    visibility: visible;
}

/* */

figure.thumbnail2:hover figcaption.popup {
    position: absolute;
    top: 200px;
    right: 50%;
    /* display image upon hover */
    visibility: visible;
}



/* --------------------------clean air section------------------------ */

.cleanair {
    color: #778899;
    border: 1pt;
    padding: 5px;
    margin: 40px;
    background-color: #FFF5EE;
    outline-style: dotted;
}

.fotocleanir {

    float: right;
    flex: 30%;
    padding: 10px;
}

.teksticleanair {
    flex: 60%;
    padding: 10px;
    font-family: "Hoefler Text", Cambria, "Times New Roman", serif;
    line-height: 1.5;
    font-weight: 200;
}

.math1 {
    display: flex; 
    border: 1pt solid green;  
    column-count: 4;
    color: #778899;
    border: 1pt;
    padding: 5px;
    margin: 40px;
    
}


/* Math Fun */
.mathematics {
  margin: 1em auto;  
  width: 95%;
  content: "";
  display: table;
  clear: both;

}

.math {
  float: left;
  width: 25%;
  padding: 10px;
  height: 180px;
}
/* // */



/* ----- table ------ */

#sevensteps {
  font-family: "Hoefler Text", Cambria, "Times New Roman", serif;
  border-collapse: collapse;
  width: 100%;
}

#sevensteps td, #sevensteps th {
  border: 1px solid #ddd;
  padding: 8px;
}

#sevensteps tr:nth-child(even){background-color: #f2f2f2;}

#sevensteps tr:hover {background-color: #ddd;}

#sevensteps th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #00ba2e;
  color: white;
  text-align: center;
}



/* foto 7steps to eco school */
.case {
    position: relative;
    width: 50%;
    height: 120;
    width: 200px;
}

.image {

    width: 100%;
    height: auto;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #00ba2e;
}

.case:hover .overlay {
    opacity: 1;
}

.text {
    color: white;
    font-size: 23px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}



/* */
* {
    box-sizing: border-box;
}

.case2 {
    position: relative;
    width: 50%;
    width: 300px;
    float: left;
}

.image2 {
    display: block;
    width: 100%;
    height: auto;
}

.overlay2 {
    position: absolute;
    bottom: 0;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5);
    /* Black see-through */
    color: #f1f1f1;
    width: 100%;
    transition: .5s ease;
    opacity: 0;
    color: white;
    font-size: 20px;
    padding: 20px;
    text-align: center;
}

.case2:hover .overlay2 {
    opacity: 1;
}



/*  ***********************************section eco conference*****************************  */

.ecoconf {
    border: none;
    padding: 5px;
    margin: 40px;
    font-family: "Hoefler Text", Cambria, "Times New Roman", serif;
    word-spacing: normal;
    text-indent: 5px;
    clear: left;

    /*  background: url('Images/flag1.gif') right bottom no-repeat, url(Images/paper.gif) left top repeat; */

    background-image: url('Images/flag1.gif'), url(Images/paper.gif);
    background-repeat: no-repeat, repeat;
    background-size: 130px, 100px;
}

/* */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width: 410px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.desc {
    padding: 15px;
    text-align: center;
}






* {
    box-sizing: border-box;
}

#column {
    float: left;
    width: 33.33%;
    padding: 50px;
}

/* Clearfix (clear floats) */
#row::after {
    content: " ";
    clear: both;
    display: table;
}









/* ----------------------------------FUTURE SCHOOL--------------------------------- */

.futuresch {
    background-color: #777;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 90%;
    margin-left: 20px;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;

}

.active,
.futuresch:hover {
    background-color: #555;
}

.futuresch-content {
    padding: 0 18px;
    margin-left: 20px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
    width: 90%;
    font-family: "Hoefler Text", Cambria, "Times New Roman", serif;
    word-spacing: normal;
    text-indent: 5px;
}





/* *******************************future school slideshow********************** */



* {
    box-sizing: border-box
}

/* Slideshow container */
.slideshow-permbajtja {
    max-width: 1000px;
    position: relative;
    margin: 20px;
}

/* Hide the images by default */
.Sllajdet {
    display: none;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.teksti {
    color: white;
    font-size: 20px;
    padding: 8px 12px;
    position: absolute;


    text-align: center;
    background-color: black;

}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: #717171;
}

/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}


/* ************************ MODAL ****************** */

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    font-family: 'Helvetica', sans-serif;
}

.modal-content {
    background-color: #fefefe;
    margin: 0.5% auto 0.5% auto;
    border: 1px solid #888;
    width: 500px;
    padding: 0px;
}

.modal-content1 {
    background-color: #fefefe;
    margin: 5% auto 5% auto;
    border: 1px solid #888;
    width: 500px;
    padding: 0px;
}

#logInButton {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    border-radius: 4px;
    font-family: 'Helvetica', sans-serif;
    font-size: 17px;

}

#signUpButton {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 48%;
    border-radius: 4px;
    font-family: 'Helvetica', sans-serif;
    font-size: 17px;
    float: right;
}

#signUpCancel {
    background-color: #f44336;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 48%;
    border-radius: 4px;
    font-family: 'Helvetica', sans-serif;
    font-size: 17px;
    float: left;
}

.modal-content button:hover {
    opacity: 0.8;
    border-radius: 4px;
}

.modal-content1 button:hover {
    opacity: 0.8;
    border-radius: 4px;
}

.close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #f35300;
    cursor: pointer;
}

.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {
        -webkit-transform: scale(0)
    }

    to {
        -webkit-transform: scale(1)
    }
}

@keyframes animatezoom {
    from {
        transform: scale(0)
    }

    to {
        transform: scale(1)
    }
}

.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
    color: white;
    border: none;
    cursor: pointer;
    font-family: 'Helvetica', sans-serif;
    font-size: 17px;
}

.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
}

.modal input[type=text],
.modal input[type=password],
.modal input[type=email] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.bottom-container {
    text-align: center;
    background-color: #666;
    border-radius: 4px;
}

.col {
    float: left;
    width: 50%;
    margin: auto;
    padding: 10 50px;


}

.col:hover {
    background-color: gray;
    border-radius: 4px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.btn-modal {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 4px;
    margin: 5px 0;
    opacity: 0.85;
    display: inline-block;
    font-size: 17px;
    line-height: 20px;
    text-decoration: none;
    font-family: 'Helvetica', sans-serif;
}

/* ************************ SOCIAL MEDIA ****************** */

.fb {
    background-color: #3B5998;
    color: white;

}

.fb:hover {
    opacity: 1;
}

.twitter {
    background-color: #55ACEE;
    color: white;

}

.twitter:hover {
    opacity: 1;
}

.google {
    background-color: #dd4b39;
    color: white;

}

.google:hover {
    opacity: 1;
}

.vl {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    border: 2px solid #ddd;
    width: 450px;
}

.vl-innertext {
    position: absolute;
    top: 50%;
    transform: translate(120px, -50%);
    background-color: #f1f1f1;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 8px 10px;
}

/* ********************** SOCIAL MEDIA END ***************** */

/* *********************** MODAL END ***************** */

.btn {
    border: none;
    background-color: inherit;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    display: inline-block;
    color: #f35300;
    font-family: "Hoefler Text", Cambria, "Times New Roman", serif;
    margin: 0px;
    padding: 0px;
}

.btn:hover {
    color: #5c5c5c;
}
