/* ********************Footer********************** */


.footer {
    width: 100%;
    height: auto;
    margin: auto;
    background-color: black;
    padding: 10px 0px;
    display: flex;
}

.details {
    padding: inherit;
    width: 33.3%;
    height: auto;
    padding: 5px;
    margin: 10px;
}

.details a:link {
    text-decoration: none;
    color: white;
    padding-left: 5px;
}

.details a:visited {
    text-decoration: none;
    color: aliceblue;

}

.details a:hover {
    ;
    color: #f35300;
    padding: 5px;
    text-align: center;
}

.details a:active {
    color: gold;
}


/* */

.template {
    background: #5c5c5c;
    padding-top: 2px;
    margin-top: 2px;
    color: white;
}


/**************************************** Header******************** */
.a {
    text-decoration: none;
    color: #f35300;

}

.header ol {
    display: flex;
    text-decoration: none;
    color: #f35300;
    padding: 0px;
    margin: 0px;
    list-style: none;
}

.header {
    padding: 0px;
    margin: 0px;
    width: 100%;
}

.header li {
    padding-left: 2px;
}

#container {
    width: 100%;
    margin: 0px;
    padding: 0px;
    height: 60px;

}

.box1 {
    box-sizing: border-box;
    float: left;
    padding-left: 5px;
    width: 500px;
}

.box2 {
    float: right;
    width: 468;
    box-sizing: border-box;
}










/* ----------------------------------------------------Events---------------------------------------- */

}

.cleanair{
	color: #778899;
    border: 1pt;
    padding: 5px;
    margin: 40px;
    font-family: "Hoefler Text", Cambria, "Times New Roman", serif;
    word-spacing: normal;
    text-indent: 5px;
    clear: left;
    background-color:#FFF5EE;
}

.ecoconf {
	color: #778899;
    border: none;
    padding: 5px;
    margin: 40px;
  
    font-family: "Hoefler Text", Cambria, "Times New Roman", serif;
    word-spacing: normal;
    text-indent: 5px;
    clear: left;
    background-color: #D3D3D3;
}

.futuresch
{
	color: #778899;
    border: none;
    padding: 5px;
    margin: 40px;
   
    font-family: "Hoefler Text", Cambria, "Times New Roman", serif;
    word-spacing: normal;
    text-indent: 5px;
    clear: left;
    background-color: #fff3e7;
}




.tranzicion {
    width:200px;
    height: 100px;
    background: red;
    transition: width 2s,height 2s;
    -webkit-transition: width 2s;
}
.tranzicion:hover
{
    width:300px;
    height:300px;
    transform: rotate(360deg);
}





#permbajtja {

    display: flex;

}



#permbajtja .permbajtja-section {

    margin: 0px 20px;

    width: 50%;

}

#permbajtja #about #about-image-permbajtja {

    border: 1px solid #6666ff;

    padding: 4px;

    width: 270px;

    height: 200px;

    overflow: hidden;

    background-color: #e2e2e2;

}



#permbj .permbj-section .permbj-section-header {


    width: 280px;

    height: 44px;

    display: inline-table;

}



#permbj .permbj-section .permbj-section-header h6 {

    font-size: 16px;

    line-height: 19px;

    color: #989898;

    margin: 0px;

    display: table-cell;

    vertical-align: middle;

}



#permbj .permbj-section p {

    width: auto;

    height: 105px;

    font-size: 14px;

    line-height: 19px;

    color: #888888;

}



/*fotoja */
.thumbnail{
    cursor: help;
}
figcaption.popup {
padding: 10px;
background: #e1e1e1;
position: absolute;
/* add a drop shadow to the frame */
-webkit-box-shadow: 0 0 15px #A9A9A9);
-moz-box-shadow: 0 0 15px #A9A9A9;
box-shadow: 0 0 15px #A9A9A9;
/* hide it until there is a hover */
visibility: hidden;
cursor: help;
}

figure.thumbnail:hover figcaption.popup {
position: absolute;
top: 40px;
right: 50%;
/* display image upon hover */
visibility: visible;
}
/* */







/* foto 7steps to eco school */
.case {
  position: relative;
  width: 50%;
  height:120; 
  width: 200px;
}

.image {
 
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #00ba2e;
}

.case:hover .overlay {
  opacity: 1;
}

.text {
  color: white;
  font-size: 23px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}



/* */
* {box-sizing: border-box;}
.case2 {
  position: relative;
  width: 50%;
  max-width: 300px;
}

.image2 {
  display: block;
  width: 100%;
  height: auto;
}

.overlay2 {
  position: absolute; 
  bottom: 0; 
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5); /* Black see-through */
  color: #f1f1f1; 
  width: 100%;
  transition: .5s ease;
  opacity:0;
  color: white;
  font-size: 20px;
  padding: 20px;
  text-align: center;
}

.case2:hover .overlay2 {
  opacity: 1;
}



/* */
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.desc {
  padding: 15px;
  text-align: center;
}






