body {
    background-image: url('Images/b12.jpg');
}

/* trash part style */
.div1 {
    display: flex;
    margin-top: 50px;
    margin-left: 30px;
}

/* trash cans style */
#div2 {
    margin-left: 170px;
    display: flex;
    overflow: auto;
    padding-bottom: 10px;
}

/* under trash cans text style */
#div2 span {
    font-weight: 900;
    color: white;
    padding: 5px 30px;
    border-radius: 20px;
    text-transform: uppercase;
    font-size: 30px;
    font-family: sans-serif;
}

/* blue trash can style */
#blueTrash {
    margin-right: 100px;
    margin-bottom: 7px;
}

/* red trash can style */
#redTrash {
    margin-top: 8px;
    margin-left: 10px;
}

/* yellow trash can style */
#yellowTrash {
    margin-left: 55px;
    margin-bottom: 9px;
}

/* bottle style */
.glass1 {
    margin-top: 10px;
    margin-left: 20px;
}

/* paper style */
.paper {
    margin-top: 45px;
    margin-left: 20px;
}

/* input style */
input {
    padding: 5px 40px;
    font-size: 30px;
    font-weight: 700;
    color: white;
    background: #9dc183;
    border-radius: 20px;
    text-shadow: 8;
    text-transform: uppercase;
}

/* the score part style */
#div3 span {
    font-size: 35px;
    color: white;
    font-family: sans-serif;
    font-weight: 800;
    margin-left: 330px;
    background: #9dc183;
    padding: 5px;
}
