.footer
{
  width: 100%;
  background-color: dimgray;
  padding: 60px 0px;
  display: block;
}



* {
    box-sizing: border-box;
}
.column {
    float: left;
    width: 50%;
    padding: 10px;
    height: 300px;
    }
 .row:after {
    content: "";
    display: table;
    clear: both;
}


article {
border: none;
padding: 2px;
margin: 40px 20px 20px 20px;
width:60%;
height:50%;
    display: flex;
    justify-content:space-between;
  
}
div.gallery {
    margin: 5px;
    background-color: #f35300;
    float: left; 
   
}
div.gallery img {
    width: 100%;
    height: auto;
   
}
div.desc {
    text-align: bottom;

}


/*Nrro b me a ,ama gjej zgjidhje*/
b:link, b:visited {
    background-color: #f44336;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
 ;
}
b:hover, b:active{
    background-color: #ddd;
    color: black;  

}
.next {
    background-color: black;
    color:#f35300;
    padding:8px; 
    float:right

}


.section{
border: none;
padding: 5px;
margin:40px 20px 40px 20px;
width:60%;
height:50%; 
font-family: "Hoefler Text", Cambria, "Times New Roman", serif; 
word-spacing: normal;
clear: left;
}




