.footer
{
  width: 100%;
  height: auto;
  margin: auto;
  background-color: lightgrey;
  padding: 10px 0px;
  display: block;
  font-color: white; 
}


.footer-social-icons {
	width: 100%;
	height: auto;
	margin: auto;
}

.footer-social-icons ul{
	margin: 0px;
	padding: 0px;
	text-align: center;
}

.footer-social-icons ul li {
	display: inline-block;
	width: 50px;
	height: 50px;
	margin: 0px 10px;
	border-radius: 100%;
	background: lightgreen;
}

.footer-social-icons ul li a {
	color: lightgreen;
	font-size: 25px;
}

.footer-social-icons ul li a i {
	line-height: 40px;
}

/* ****************************Pano te body****************************************** */

.pano {
width: 100%;
height: 100%;
margin: none;


}


/* ****************************Nrro b me a ,ama gjej zgjidhje******************* */

b:link, b:visited {
    background-color: #f44336;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;

}
b:hover, b:active{
    background-color: #ddd;
    color: black;  

}
.next {
box-sizing: content-box;
background-color: black;
    color:#f35300;
    padding:8px; 
    float:right;
    margin: 10px;
box-sizing: border-box;
}



/* *******************************4 fotot te body************************************************ */

article {
border: none;
padding: 10px;
margin: 40px 40px 20px 20px;
width:60%;
height:50%;
 display: flex;
 justify-content:space-between;
  
}
div.gallery {
    margin: 5px;
    background-color: #f35300;
    float: left;

}
div.gallery img {
    width: 100%;
    height: auto;  

}
div.desc {
    text-align: bottom;

}

    





* {
  box-sizing: border-box;
}

.container {
  position: relative;
  max-width: 500px;
  margin: 10px;
  font-family: "Hoefler Text", Cambria, "Times New Roman", serif;

}

.container img {vertical-align: middle;}

.content {
  position: absolute;
  bottom: 0;
  background: rgb(0, 0, 0); /* Fallback color */
  background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
  color: #f1f1f1;
  width: 100%;
  padding: 5px;
}


/* *************************************************texti ne body************************************** */

.section{
border: none;
padding: 5px;
margin:40px 20px 40px 20px;
width:60%;
height:50%; 
font-family: "Hoefler Text", Cambria, "Times New Roman", serif; 
word-spacing: normal;
clear: left;
}


/**************************************** Header******************** */
.a {
    text-decoration: none;
    color: #f35300;

}

.header ul {
    display: flex;
    text-decoration: none;
    color: #f35300;
    padding: 0px;
    margin: 0px;
    list-style: none;
}

.header {
    padding: 0px;
    margin: 0px;
    width: 100%;
}

.header li {
    padding-left: 2px;
}

#container {
    width 100%;
    margin: 0px;
    padding: 0px;
    height: 60px;

}

.box1 {
    box-sizing: border-box;
    float: left;
    padding-left: 5px;
    width: 500px;
}

.box2 {
    float: right;
    width: 468;
    box-sizing: border-box;
}





