/* ********************Footer********************** */
.footer {
    width: 100%;
    height: auto;
    margin: auto;
    background-color: black;
    padding: 10px 0px;
    display: flex;
}

/* */
.details {
    padding: inherit;
    width: 33.3%;
    height: auto;
    padding: 5px;
    margin: 10px;
}

.details a:link {
    text-decoration: none;
    color: white;
    padding-left: 5px;
}

.details a:visited {
    text-decoration: none;
    color: aliceblue;

}

.details a:hover {
    ;
    color: #f35300;
    padding: 5px;
    text-align: center;
}

.details a:active {
    color: gold;
}


/* */

.template {
    background: #5c5c5c;
    padding-top: 2px;
    margin-top: 2px;
    color: white;
}


.content {
    position: absolute;
    bottom: 0;
    background: rgb(0, 0, 0);
    /* Fallback color */
    background: rgba(0, 0, 0, 0.5);
    /* Black background with 0.5 opacity */
    color: #f1f1f1;
    width: 100%;
    padding: 5px;
}

/**************************************** Header******************** */

#container {
    height: 90px;
    display: flex;
    padding: 10px;
    border: solid white;
    border-radius: 20px;
    padding-bottom: 20px;
}

.box1 {
    font-size: 50px;
    font-weight: 600;
    color: #f35300;
    font-family: sans-serif;
}
