textarea{
	width: 500px;
	height: 100px;
	background-color: #fff;
	resize:none;
	margin: 10px;
}

button {
	width: 150px;
	height: 35px;
	background-color: orange;
	font-family: helvetica;
	cursor: pointer;

}


body {
  padding: 20px;
  width: 1024px;
  margin: auto;
  background-color: #5c5c5c;
  font-family: Neuton, serif;
}